.NavBar {
	.nav-collapse {
		&.in {
//			height: 400px; //Redefine a rule like this one in your own project if you want this navbar menu to slide just like the original bootstrap one
		}
		&.collapse {
			height: auto;
		}
	}
}