@import './extension'

//Viewport
@media (min-height: 200px) and (max-height: 399px) {
	verticalGrid(200px, 25px);
}
@media (min-height: 400px) and (max-height: 599px) {
	verticalGrid(400px, 25px);
}
@media (min-height: 600px) and (max-height: 767px) {
	verticalGrid(600px, 25px);
}
@media (min-height: 768px) and (max-height: 924px) {
	verticalGrid(768px, 25px);
}
@media (min-height: 925px) and (max-height: 1029px) {
	verticalGrid(925px, 25px);
}
@media (min-height: 1080px) and (max-height:1199px) {
	verticalGrid(1080px, 25px);
}
@media (min-height: 1200px) and (max-height: 1599px) {
	verticalGrid(1200px, 25px);
}
@media (min-height: 1600px) and (max-height: 2399px) {
	verticalGrid(1600px, 25px);
}
@media (min-height: 2400px) and (max-height: 3599px) {
	verticalGrid(2400px, 35px);
}
@media (min-height: 3600px) {
	verticalGrid(3600px, 35px);
}