@import './extension'

//Devices
@media (min-device-height: 200px) and (max-device-height: 399px)
	verticalGrid(200px, 25px);

@media (min-device-height: 400px) and (max-device-height: 599px)
	verticalGrid(400px, 25px);

@media (min-device-height: 600px) and (max-device-height: 767px)
	verticalGrid(600px, 25px);

@media (min-device-height: 768px) and (max-device-height: 1079px)
	verticalGrid(768px, 25px);

@media (min-device-height: 1080px) and (max-device-height:1199px)
	verticalGrid(1080px, 25px);

@media (min-device-height: 1200px) and (max-device-height: 1599px)
	verticalGrid(1200px, 25px);

@media (min-device-height: 1600px) and (max-device-height: 2399px)
	verticalGrid(1600px, 25px);

@media (min-device-height: 2400px) and (max-device-height: 3599px)
	verticalGrid(2400px, 35px);

@media (min-device-height: 3600px)
	verticalGrid(3600px, 35px);
