lib-cov
out
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
tscommand*
/coverage.html
.idea
.tscache
.gitattributes
.npmignore
listts.js
grunt
coverage.js
covreporter.html
jsdoc.json
coverage.ignore
ui/tests
nineplate/tests
lib/tests
css/tests
core/tests