lib-cov
out
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
/coverage.html
.idea
covreporter.html
jsdoc.json
coverage.ignore
ui/tests
nineplate/tests
lib/tests
css/tests
core/tests