.njsFullScreenFrame {
	> {
		* {
			display: none;
			@media print {
				display: none;
			}
		}
		.active {
			display: block;
            &.tableFrame {
                display: table;
            }
			@media print {
				display: block;
                &.tableFrame {
                    display: table;
                }
			}
		}
	}
}