body.flexFrame {
	display: flex;
	.njsFullScreenFrame {
		display: flex;
		> {
			.active {
				&.flexFrame {
					display: flex !important;
				}
				@media print {
					&.flexFrame {
						display: flex !important;
					}
				}
			}
		}
	}
}
.njsFullScreenFrame {
	> {
		* {
			display: none !important;
			@media print {
				display: none !important;
			}
		}
		.active {
			display: block !important;
            &.tableFrame {
                display: table !important;
            }
			@media print {
				display: block !important;
                &.tableFrame {
                    display: table !important;
                }
			}
		}
	}
}