
.weFilterBuilder *.weEditor.dataType-list > table{width:186px;max-width:186px;}
.weFilterBuilder *.weEditor.dataType-list > table .dijitButtonContents{width:165px;max-width:165px;}
.weFilterBuilder *.weEditor.dataType-list > table .dijitButtonContents .dijitInputField{width:100%;}
.weFilterBuilder *.weEditor.dataType-list > table .dijitButtonContents .dijitInputField .dijitInline{max-width:100%;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis}
.weFilterBuilder *.weEditor.dataType-date > div{width:172px}
.weFilterBuilder *.weEditor > table{width:100%}
.weFilterBuilder *.weEditor *.dijitArrowButton{width:20px}
.weFilterBuilder.strict .weAddExpressionButton{display:none}
.weFilterBuilder.strict.valid .weAddExpressionButton{display:block}
.weFilterBuilder.strict.invalid .checkBoxHolder{display:none}
.weFilterBuilder.strict .resetButton{display:none}
.weFilterBuilder.njsAmbiguous>.mainContent>.multiExpressionHolder{border-left-style:dashed !important;border-right-style:none;border-top-style:none;border-bottom-style:none;border-left-width:2px;margin-left:-2px;border-left-color:#f00 !important;-webkit-border-radius:8px;border-radius:8px;-webkit-transition:all 500ms cubic-bezier(1,0,0,1);-moz-transition:all 500ms cubic-bezier(1,0,0,1);-o-transition:all 500ms cubic-bezier(1,0,0,1);-ms-transition:all 500ms cubic-bezier(1,0,0,1);transition:all 500ms cubic-bezier(1,0,0,1)}
.weFilterBuilder * .weDownArrowButton{width:20px}
.weFilterBuilder * .weSelect{width:95%}
.weFilterBuilder.mainContent{padding-left:12px;width:auto}
.weFilterBuilder.mainNode{width:100%;height:100%;float:left;position:relative;}
.weFilterBuilder.mainNode.weAlone .checkBoxHolder{display:none}
.weFilterBuilder.mainNode.weAlone .deleteButton{display:none}
.weFilterBuilder.mainNode .helpNode{margin-top:15px;margin-left:17px;font-family:verdana;height:40px}
.weFilterBuilder.mainNode.negative >.mainContent >.singleExpressionHolder{border-top-style:outset;border-top-color:#ffa500;border-bottom-style:outset;border-bottom-color:#ffa500;border-left-style:outset;border-left-color:#ffa500;border-left-width:1px;padding-left:2px;}
.weFilterBuilder.mainNode.negative >.mainContent >.singleExpressionHolder >.deleteButtonHolder >.negativeButton{background-image:embedurl("images/FilterBuilder/minus_off.png");}
.weFilterBuilder.mainNode.negative >.mainContent >.singleExpressionHolder >.deleteButtonHolder >.negativeButton.dijitHover{background-image:embedurl("images/FilterBuilder/minus_on.png")}
.weFilterBuilder.mainNode.negative >.mainContent >.multiExpressionHolder{border-top-style:outset;border-top-color:#ffa500;border-top-width:1px;border-bottom-style:outset;border-bottom-color:#ffa500;border-bottom-width:1px;border-left-style:outset;border-left-color:#ffa500;border-left-width:2px;margin-left:-2px;}
.weFilterBuilder.mainNode.negative >.mainContent >.multiExpressionHolder >div >div>.negativeButton{background-image:embedurl("images/FilterBuilder/minus_off.png");}
.weFilterBuilder.mainNode.negative >.mainContent >.multiExpressionHolder >div >div>.negativeButton.dijitHover{background-image:embedurl("images/FilterBuilder/minus_on.png")}
.weFilterBuilder.mainNode.weLevel1 >.mainContent{min-width:960px;}
.weFilterBuilder.mainNode.weLevel1 >.mainContent >.multiExpressionHolder{background-color:#85ffd6}
.weFilterBuilder.mainNode.weLevel2 >.mainContent{min-width:934px;}
.weFilterBuilder.mainNode.weLevel2 >.mainContent >.multiExpressionHolder{background-color:#52cca3}
.weFilterBuilder.mainNode.weLevel3 >.mainContent{min-width:908px;}
.weFilterBuilder.mainNode.weLevel3 >.mainContent >.multiExpressionHolder{background-color:#9f9}
.weFilterBuilder.mainNode.weLevel4 >.mainContent{min-width:882px;}
.weFilterBuilder.mainNode.weLevel4 >.mainContent >.multiExpressionHolder{background-color:#adffad}
.weFilterBuilder.mainNode.weLevel5 >.mainContent{min-width:856px;}
.weFilterBuilder.mainNode.weLevel5 >.mainContent >.multiExpressionHolder{background-color:#f99}
.weFilterBuilder.mainNode.weLevel6 >.mainContent{min-width:830px;}
.weFilterBuilder.mainNode.weLevel6 >.mainContent >.multiExpressionHolder{background-color:#ffadad}
.weFilterBuilder.mainNode.weLevel7 >.mainContent{min-width:804px;}
.weFilterBuilder.mainNode.weLevel7 >.mainContent >.multiExpressionHolder{background-color:#d685ff}
.weFilterBuilder.mainNode.multiple >.mainContent >.checkBoxHolder{display:none}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane{position:absolute;width:42px;max-width:42px;height:70px;visibility:hidden;padding:8px;-webkit-border-radius:10px;border-radius:10px;}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel1{background-color:#85ffd6;}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel1 .dojoxFloatingPaneCanvas .dojoxFloatingPaneContent{background-color:#85ffd6}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel1 .dojoxFloatingPaneCanvas .dijitToolbar{background-color:#85ffd6}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel2{background-color:#52cca3;}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel2 .dojoxFloatingPaneCanvas .dojoxFloatingPaneContent{background-color:#52cca3}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel2 .dojoxFloatingPaneCanvas .dijitToolbar{background-color:#52cca3}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel3{background-color:#9f9;}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel3 .dojoxFloatingPaneCanvas .dojoxFloatingPaneContent{background-color:#9f9}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel3 .dojoxFloatingPaneCanvas .dijitToolbar{background-color:#9f9}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel4{background-color:#adffad;}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel4 .dojoxFloatingPaneCanvas .dojoxFloatingPaneContent{background-color:#adffad}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel4 .dojoxFloatingPaneCanvas .dijitToolbar{background-color:#adffad}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel5{background-color:#f99;}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel5 .dojoxFloatingPaneCanvas .dojoxFloatingPaneContent{background-color:#f99}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel5 .dojoxFloatingPaneCanvas .dijitToolbar{background-color:#f99}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel6{background-color:#ffadad;}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel6 .dojoxFloatingPaneCanvas .dojoxFloatingPaneContent{background-color:#ffadad}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel6 .dojoxFloatingPaneCanvas .dijitToolbar{background-color:#ffadad}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel7{background-color:#d685ff;}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel7 .dojoxFloatingPaneCanvas .dojoxFloatingPaneContent{background-color:#d685ff}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane.weLevel7 .dojoxFloatingPaneCanvas .dijitToolbar{background-color:#d685ff}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane .dojoxFloatingPaneTitle{display:none}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane .dojoxFloatingPaneCanvas{height:auto;max-width:40px;}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane .dojoxFloatingPaneCanvas .dojoxFloatingPaneContent{overflow:hidden}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane .dojoxFloatingPaneCanvas .dijitToolbar{border:0;}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane .dojoxFloatingPaneCanvas .dijitToolbar .dijitButton{width:33px;margin-top:-2px;}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane .dojoxFloatingPaneCanvas .dijitToolbar .dijitButton .dijitButtonNode{width:30px}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane .dijitToolbar .dijitButton{width:100px;}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane .dijitToolbar .dijitButton .dijitButtonNode{width:100px;}
.weFilterBuilder.mainNode.multiple .dojoxFloatingPane .dijitToolbar .dijitButton .dijitButtonNode .dijitButtonContents{text-align:left;width:100px}
.weFilterBuilder.state-start >.mainContent >.singleExpressionHolder >.deleteButtonHolder >.resetButton{display:none}
.weFilterBuilder.singleExpressionHolder{width:98%;min-height:22px;display:table;border-top-style:solid;border-top-width:1px;border-top-color:#d3d3d3;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#d3d3d3;}
.weFilterBuilder.singleExpressionHolder *{word-wrap:break-word}
.weFilterBuilder.singleExpressionHolder >.checkBoxHolder{float:left;margin-top:5px;height:100%;width:16px;text-align:center;vertical-align:middle;display:table}
.weFilterBuilder.singleExpressionHolder >.summaryListHolder{width:140px;float:left;}
.weFilterBuilder.singleExpressionHolder >.summaryListHolder div table{width:100%}
.weFilterBuilder.singleExpressionHolder >.summaryListHolder .dijitButtonText{text-align:left;width:100%}
.weFilterBuilder.singleExpressionHolder >.operatorListHolder{width:153px;float:left;padding-left:15px;}
.weFilterBuilder.singleExpressionHolder >.operatorListHolder .dijitButtonText{text-align:left;width:100%}
.weFilterBuilder.singleExpressionHolder >.fieldListHolder{width:223px;float:left;margin-top:2px;padding-left:15px;}
.weFilterBuilder.singleExpressionHolder >.fieldListHolder>.funnelHolder{display:none;float:right;width:auto;}
.weFilterBuilder.singleExpressionHolder >.fieldListHolder>.funnelHolder>div{background-image:embedurl("images/FilterBuilder/funnel_add_off.png");width:24px;height:24px;}
.weFilterBuilder.singleExpressionHolder >.fieldListHolder>.funnelHolder>div.dijitHover{background-image:embedurl("images/FilterBuilder/funnel_add_on.png")}
.weFilterBuilder.singleExpressionHolder >.fieldListHolder.funnelCapable>div.fieldSelectHolder{max-width:196px}
.weFilterBuilder.singleExpressionHolder >.fieldListHolder.funnelCapable>.funnelHolder{display:block}
.weFilterBuilder.singleExpressionHolder >.fieldListHolder.funnelCapable.funnelSet>.funnelHolder>div{background-image:embedurl("images/FilterBuilder/funnel_on.png")}
.weFilterBuilder.singleExpressionHolder >.fieldListHolder>div.fieldSelectHolder{float:left;width:100%;}
.weFilterBuilder.singleExpressionHolder >.fieldListHolder>div.fieldSelectHolder>div.dijitComboBox{height:21px;width:100%;}
.weFilterBuilder.singleExpressionHolder >.fieldListHolder>div.fieldSelectHolder>div.dijitComboBox div{height:21px;}
.weFilterBuilder.singleExpressionHolder >.fieldListHolder>div.fieldSelectHolder>div.dijitComboBox div.dijitInputField{height:19px;-webkit-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;background-image:-webkit-linear-gradient(#fff 0,rgba(255,255,255,0) 3px,rgba(255,255,255,0.75) 100%)}
.weFilterBuilder.singleExpressionHolder >.fieldListHolder>div.fieldSelectHolder>div.dijitComboBox div input{border:0}
.weFilterBuilder.singleExpressionHolder >.valueListHolder{width:173px;float:left;margin-top:4px;padding-left:15px;}
.weFilterBuilder.singleExpressionHolder >.valueListHolder .dijitButtonText{text-align:left;width:100%}
.weFilterBuilder.singleExpressionHolder >.addExpressionButtonHolder{float:right}
.weFilterBuilder.multiExpressionHolder{width:auto;min-width:800px;padding-left:15px;-webkit-border-radius:8px;border-radius:8px;}
.weFilterBuilder.multiExpressionHolder .multiExpressionLink{width:80px;float:left}
.weFilterBuilder.multiExpressionHolder >div >div >.deleteButton{display:none}
.weFilterBuilder.multiExpressionHolder >.weAddExpressionButton{float:left}
.weFilterBuilder.weFilterBuilderToolbar.dijit.dijitToolbar{background-color:transparent;padding-left:10px;padding-right:10px}
.weFilterBuilder.weIconAdd{background-image:embedurl("images/FilterBuilder/new_condition_off.png");width:16px;height:16px;}
.weFilterBuilder.weIconAdd.dijitHover{background-image:embedurl("images/FilterBuilder/new_condition_on.png")}
.weFilterBuilder.weIconAllPositive{background-image:embedurl("images/FilterBuilder/plus_small_off.png");width:16px;height:16px;}
.weFilterBuilder.weIconAllPositive.weEnabled{background-image:embedurl("images/FilterBuilder/plus_small_on.png")}
.weFilterBuilder.weIconAllNegative{background-image:embedurl("images/FilterBuilder/minus_small_off.png");width:16px;height:16px;}
.weFilterBuilder.weIconAllNegative.weEnabled{background-image:embedurl("images/FilterBuilder/minus_small_on.png")}
.weFilterBuilder.weIconCustomBoolean{background-image:embedurl("images/FilterBuilder/custom_boolean_off.png");width:16px;height:16px;}
.weFilterBuilder.weIconCustomBoolean.weEnabled{background-image:embedurl("images/FilterBuilder/custom_boolean_on.png")}
.weFilterBuilder.weIconGroupExpression{background-image:embedurl("images/FilterBuilder/group_off.png");width:24px;height:24px}
.weFilterBuilder.weIconUnGroupExpression{background-image:embedurl("images/FilterBuilder/ungroup_off.png");width:24px;height:24px}
.weFilterBuilder.weIconUndo{background-image:embedurl("images/FilterBuilder/undo_on.png");width:16px;height:16px}
.weFilterBuilder.weIconRedo{background-image:embedurl("images/FilterBuilder/redo_on.png");width:16px;height:16px}
.weFilterBuilder.weIconOptions{background-image:embedurl("images/FilterBuilder/options_off.png");width:16px;height:16px;}
.weFilterBuilder.weIconOptions.dijitHover{background-image:embedurl("images/FilterBuilder/options_on.png")}
.weFilterBuilder.deleteButtonHolder{width:80px;float:left;margin-left:20px}
.weFilterBuilder.deleteButton{background-image:embedurl("images/FilterBuilder/trash_off.png");width:24px;height:24px;background-repeat:no-repeat;border:none;float:left;margin-top:2px;}
.weFilterBuilder.deleteButton.dijitHover{background-image:embedurl("images/FilterBuilder/trash_on.png")}
.weFilterBuilder.resetButton{background-image:embedurl("images/FilterBuilder/reset_off.png");width:24px;height:24px;background-repeat:no-repeat;border:none;float:left;margin-top:2px;}
.weFilterBuilder.resetButton.dijitHover{background-image:embedurl("images/FilterBuilder/reset_on.png")}
.weFilterBuilder.negativeButton{background-image:embedurl("images/FilterBuilder/plus_off.png");width:24px;height:24px;background-repeat:no-repeat;border:none;float:left;margin-top:2px;display:none;}
.weFilterBuilder.negativeButton.dijitHover{background-image:embedurl("images/FilterBuilder/plus_on.png")}
.weFilterBuilder div .dijitComboButton{width:100%;}
.weFilterBuilder div .dijitComboButton tbody tr .dijitDownArrowButton{width:20px}
.weFilterBuilder.weCustomNegatives .negativeButton{display:block}
.weFilterBuilder .weAdvancedToolbar{width:16px;height:16px;background-image:embedurl("images/FilterBuilder/options_off.png")}
.dijitHover .weIconUnGroupExpression{background-image:embedurl("images/FilterBuilder/ungroup_on.png")}
.dijitHover .weIconGroupExpression{background-image:embedurl("images/FilterBuilder/group_on.png")}
.dijitHover .weIconAdd{background-image:embedurl("images/FilterBuilder/new_condition_on.png")}
.dijitHover .weAdvancedToolbar{background-image:embedurl("images/FilterBuilder/options_on.png")}
.dijitDisabled .weFilterBuilder.weIconUndo{background-image:embedurl("images/FilterBuilder/undo_off.png")}
.dijitDisabled .weFilterBuilder.weIconRedo{background-image:embedurl("images/FilterBuilder/redo_off.png")}
.dijitMenuPopup .weIconAllPositive{background-image:embedurl("images/FilterBuilder/plus_small_off.png");width:16px;height:16px;}
.dijitMenuPopup .weIconAllPositive.weEnabled{background-image:embedurl("images/FilterBuilder/plus_small_on.png")}
.dijitMenuPopup .weIconAllNegative{background-image:embedurl("images/FilterBuilder/minus_small_off.png");width:16px;height:16px;}
.dijitMenuPopup .weIconAllNegative.weEnabled{background-image:embedurl("images/FilterBuilder/minus_small_on.png")}
.dijitMenuPopup .weIconCustomBoolean{background-image:embedurl("images/FilterBuilder/custom_boolean_off.png");width:16px;height:16px;}
.dijitMenuPopup .weIconCustomBoolean.weEnabled{background-image:embedurl("images/FilterBuilder/custom_boolean_on.png")}
.dijitMenuPopup .weStrictMode{background-image:embedurl("images/FilterBuilder/strict_off.png");width:16px;height:16px;}
.dijitMenuPopup .weStrictMode.weEnabled{background-image:embedurl("images/FilterBuilder/strict_on.png")}
.dijitMenuPopup .weUnRestrictedMode{background-image:embedurl("images/FilterBuilder/unrestricted_off.png");width:16px;height:16px;}
.dijitMenuPopup .weUnRestrictedMode.weEnabled{background-image:embedurl("images/FilterBuilder/unrestricted_on.png")}
.nineFbAdvancedOptionsPanelPopup{margin-left:30px;max-width:581px;background-color:#fff}
.nineFbAdvancedOptionsPanel{-webkit-border-radius:9px;border-radius:9px;border-style:solid;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.03, #fff), color-stop(1, rgba(255,255,255,0.75)));background-image:-webkit-linear-gradient(top, #fff 0px, #fff 3px, rgba(255,255,255,0.75) 100%);background-image:-moz-linear-gradient(top, #fff 0px, #fff 3px, rgba(255,255,255,0.75) 100%);background-image:-o-linear-gradient(top, #fff 0px, #fff 3px, rgba(255,255,255,0.75) 100%);background-image:-ms-linear-gradient(top, #fff 0px, #fff 3px, rgba(255,255,255,0.75) 100%);background-image:linear-gradient(top, #fff 0px, #fff 3px, rgba(255,255,255,0.75) 100%);padding-left:20px;padding-right:20px;}
.nineFbAdvancedOptionsPanel .nineFbPanelCaption{height:10px;}
.nineFbAdvancedOptionsPanel .nineFbPanelCaption .nineRightSpacer{width:8px;height:1px;float:right}
.nineFbAdvancedOptionsPanel .nineFbPanelCaption .nineHelpIcon{float:right;width:16px;height:16px;background-image:embedurl("images/FilterBuilder/helpIcon_off.png");}
.nineFbAdvancedOptionsPanel .nineFbPanelCaption .nineHelpIcon.njsHover{background-image:embedurl("images/FilterBuilder/helpIcon_on.png")}
.nineFbAdvancedOptionsPanel .nineFbPanelCaption .nineCloseIcon{float:right;width:16px;height:16px;background-image:embedurl("images/FilterBuilder/close_off.png");}
.nineFbAdvancedOptionsPanel .nineFbPanelCaption .nineCloseIcon.dijitHover{background-image:embedurl("images/FilterBuilder/close_on.png")}
.nineFbAdvancedOptionsPanel .nineAdvancedOptionsTitle{color:#00008b;font-weight:bold;font-size:16px}
.nineFbAdvancedOptionsPanel .nineAdvancedOptionsMessage{font-style:italic;font-size:13px;font-family:verdana}
.nineFbAdvancedOptionsPanel .nineAdvancedOptionsGroupBox{padding-top:15px;padding-left:10px;padding-bottom:15px;border:1px solid;-webkit-border-radius:8px;border-radius:8px;width:530px;}
.nineFbAdvancedOptionsPanel .nineAdvancedOptionsGroupBox legend{-webkit-padding-start:10px;font-size:14px;font-weight:bold;font-style:italic;color:#008b8b}
.nineFbAdvancedOptionsPanel .nineAdvancedOptionsGroupBox .nineFbAdvancedRbOption{padding-bottom:10px;margin-left:35px;max-width:450px;}
.nineFbAdvancedOptionsPanel .nineAdvancedOptionsGroupBox .nineFbAdvancedRbOption span{font-style:italic}
.nineFbAdvancedOptionsPanel .nineAdvancedOptionsGroupBox .nineFbHorizontalRb{padding-right:20px}
.nineFbAdvancedOptionsPanel .nineFbPadding{padding-bottom:20px}
.nineFbDialog{height:auto;min-width:1032px;max-height:270px;}
.nineFbDialog>.dijitDialogPaneContent>.dijitDialogPaneActionBar{padding-bottom:10px;padding-top:10px}
.nineFbSubExpressionDialog{height:auto;max-height:187px;}
.nineFbSubExpressionDialog>.weFilterBuilder.mainNode{float:none;}
.nineFbSubExpressionDialog>.weFilterBuilder.mainNode>.mainContent{max-height:168px;overflow-y:auto;padding-top:14px}
.nineFbSubExpressionDialog .helpNode{display:none}
